.big_txt-services,
.big_txt-portfolio,
.big_txt-about,
.big_txt-contact {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    color:#f6f6f6;
    text-align: center;
    font-size: 141px;
  }
@media (max-width:599px) {
    .big_txt-services,
    .big_txt-portfolio,
    .big_txt-about,
    .big_txt-contact{
        font-size: 80px;

}
}