
.divservis-mini-txt { 
  &__big-txt{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    color:#f6f6f6;
    text-align: center;
    font-size: 141px;
  }
}



@media (max-width:599px) {
    .big-txt{
      font-size: 80px;
}
}
